.banner-section ,.service-section {
    height: auto;
    width: auto;
}
.banner-section img, .service-section .service-boxes img {
    width: 100%;
}
.banner-section-btn a{
    text-decoration: none;
}
.banner-section-btn a.wp-block-button__link:hover {
    background: #ffffff !important;
    color: #50d430 !important;
}
.service-box {
    padding: 30px;
    box-shadow: 0 0 5px 1px #afd5a6;
    border-radius: 30px;
}
.service-box h3::before {
    content: '';
    width: 60px;
    height: 2px;
    background: #8e8e8e;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 100%;
    bottom: 0;
    opacity: 1;
    display: block;
    clear: both;
}
.service-box-btn .wp-block-button__link, .service-box-btn .wp-block-button__link:hover  {
    color: #000 !important;
    background-color: transparent !important;
    padding: 0;
    text-decoration: none;
}
.service-boxes.wp-block-columns {
    margin: 3% 7%;
}
.service-box:hover {
    background-color: #50d430;
}
.service-box:hover h3,
.service-box:hover .service-box-para,
.service-box:hover a.wp-block-button__link {
    color: #fff !important;
}
@media screen and (max-width: 767px) {
    .banner-section .banner-section-content h1{
        font-size: 30px !important;
    }
    .banner-section .banner-section-content p{
        font-size: 15px !important;
    }
}
@media  screen and (max-width:991px) and (min-width:767px) {
    .banner-section .banner-section-content h1{
        font-size: 35px !important;
    }
    .service-section .wp-block-columns {
        flex-wrap: nowrap !important;
    }
    .service-boxes.wp-block-columns {
        margin: 0px !important;
    }
}
